mixin element(el)
    .drop-down-list__element
        .element-text
            h3= el.text
        .incrementer
            div(class= el.value===0 ? 'incrementer__button_disabled' : '').incrementer__button -
            .incrementer__value
                h3= el.value
            .incrementer__button +

