extends ../../base
include ../../components/text-field/text-field
include ../../components/drop-down/drop-down
block title
    | Index page
block main
    h1 Some really good pages
    h2 Just Testin
    h3 More tests
    p Hello theere
    br
    +text-field
    +drop-down('my', 'Number of guests', 1, 2, 3, 4)
    +drop-down('my2', 'Number of classes', 1, 2, 3, 4)

    