extends ../../base
include ../../components/text-field/text-field
include ../../components/text-field/text-field_masked
include ../../components/drop-down/drop-down
include ../../components/checkbox-button/checkbox-button
include ../../components/radio-button/radio-button
include ../../components/toggle-button/toggle-button
include ../../components/like-button/like-button
include ../../components/rate-button/rate-button
include ../../components/click-button/click-button
include ../../components/pagination/pagination
include ../../components/range-slider/range-slider
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/features/features
include ../../components/bullet-list/bullet-list
include ../../components/comment/comment

block title
    | Index page
block main
    h1 Some really good pages
    h2 Just Testin
    h3 More tests
    p Hello theere
    br
    +text-field
    +text-field_masked
    br
    +drop-down('my', 'ДД.ММ.ГГГГ', {date: true}, 'Baths')
    br
    +drop-down('my2', 'Number of classesssssss', {}, 1, 2, 3, 4)
    br
    +checkbox-button('my3', 'Hello there')
    br
    +checkbox-button('my4', 'Hello there', true)
    br
    +radio-button('my5', 'mys1', 'Are you mine', true)
    br
    +radio-button('my6', 'mys1', 'Are you not mine', false)
    br
    +toggle-button('tg1', 'Subscribe', true)
    br
    +toggle-button('tg2', 'Receive messages', false)
    br
    +like-button('lb1', 12, true)
    br
    +like-button('lb2', 2, false)
    br
    +rate-button('rb1', 0)
    br
    +click-button('cb1', 'Click me')
    br
    +click-button('cb2', 'Click me', 'faded')
    br
    +click-button('cb3', 'Click me', 'outbound')
    br
    +click-button('cb5', 'Click me', 'outbound-faded')
    br
    +click-button('cb4', 'Click me', 'simple')
    br
    +click-button('cb4', 'Click me', 'simple-faded')
    br
    +click-button('cb4', 'Click me', 'big-arrow')
    br
    +pagination('pg1', 180, 12, 'вариантов аренды')
    br
    +range-slider('rs1', 0, 15000, 5000, 10000)
    br
    +expandable-checkbox-list('clist1', 'Some good elements', false, 'Money', 'Drugs', 'Guns', 'Check')
    br
    +features('fl1', 'noice_cancel', 'windows')
    br
    +checkbox-button('rb1', 'Помощник для инвалидов', false, 'На 1 этаже вас встретит специалист и проводит до номера.')
    br
    +checkbox-button('rb2', 'Широкий коридор', false, 'Ширина коридоров в номере не менее 91 см.')
    br
    +bullet-list('bl1', 'Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00')
    br
    +comment('comment1', 'Alexey Logachev', '1 day ago', 12, 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
    

    