extends ../../base
include ../../components/text-field/text-field
include ../../components/drop-down/drop-down
include ../../components/checkbox-button/checkbox-button
include ../../components/radio-button/radio-button
block title
    | Index page
block main
    h1 Some really good pages
    h2 Just Testin
    h3 More tests
    p Hello theere
    br
    +text-field
    br
    +drop-down('my', 'ДД.ММ.ГГГГ', {date: true}, 'Baths')
    br
    +drop-down('my2', 'Number of classesssssss', {}, 1, 2, 3, 4)
    br
    +checkbox-button('my3', 'Hello there')
    br
    +checkbox-button('my4', 'Hello there', true)
    br
    +radio-button('my5', 'mys1', 'Are you mine', true)
    br
    +radio-button('my6', 'mys1', 'Are you not mine', false)
    

    