extends ../base
include ../../components/text-field/text-field
include ../../components/drop-down/drop-down
block title
    | Index page
block main
    h1 Some really good pages
    h2 Just Testin
    h3 More tests
    p Hello theere
    +text-field
    +drop-down('kek', 'My gottttt my gottttt my gotttttasdasdasdasdas', 1, 2, 3)

    