include __element/drop-down__element
mixin drop-down(id, text, ...elems)
    .drop-down&attributes(attributes)
        p= text
        i.material-icons keyboard_arrow_down
        div(id= id)
            each elem in elems
                    +element(elem).drop-down__element_normal