include __element/drop-down__element
mixin drop-down(id, text, ...elems)
    .drop-down-wrapper
        .drop-down(onclick=`dropDownClickHandler(${id})`)
            p= text
            i.material-icons keyboard_arrow_down
            - const opened=false;
        div(id= id, class=opened ? 'opened' : '').drop-down-list
            each elem in elems
                    +element(elem).drop-down-list__element_normal