@import '../color/color.scss';
$root: 'drop-down';

.drop-down-wrapper {
    width: 320px;
    position: relative;
    display: inline-block;
}

.drop-down {
    height: 44px;

    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 2px 2px 0 0;

    cursor: pointer;

    & i {
        float: right;
        width: 44px;
        height: 44px;

        text-align: center;
        line-height: 44px;

        color: rgba($dark-shade, 0.5);
    }

    & p {
        display: inline-block;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        margin: 0 0 0 15px;

        line-height: 44px;

        color: rgba($dark-shade, 0.75);
    }

    & + .drop-down-list:not(.opened) {
        display: none;
        margin-top: 0;
    }

    & + .drop-down-list.opened {
        position: absolute;

        // margin-top: -1px;

        border-radius: 0 0 2px 2px;
        width: 100%;

        overflow: hidden;

        border: 1px solid rgba($dark-shade, 0.25);
        border-top: rgba(0, 0, 0, 0);

        z-index: 1;
    }
}

.drop-down_date {
    width: 150px;

    & p {
        max-width: 90px;
    }

    & + .drop-down-list_date {
        background: #fff;
        border: 1px solid rgba($dark-shade, 0.25) !important;
    }
}

.drop-down-list__element {
    background: #fff;
    height: 40px;

    padding-left: 15px;
    padding-right: 7px;

    & .element-text {
        display: inline-block;
    }
}

.incrementer {
    float: right;

    &__button {
        display: inline-block;
        cursor: pointer;

        width: 30px;
        height: 30px;
        border: 1px solid rgba($dark-shade, 0.5);
        color: rgba($dark-shade, 0.5);
        border-radius: 22px;

        text-align: center;
        vertical-align: middle;
        line-height: 28px;
        font-size: 18px;

        &_disabled {
            cursor: default;
            border-color: rgba($dark-shade, 0.25);
            color: rgba($dark-shade, 0.25);
        }
    }

    &__value {
        display: inline-block;
        width: 32px;

        text-align: center;
        vertical-align: middle;
    }
}